.movie{
    background-color: white;
    margin: 20px;
    margin-bottom: 40px;
    padding: 30px;
    display: flex;
    height: 400px;
    position: relative;
}

.movie img{
    height: 250px;
    margin-right: 30px;
    position: relative;
    top:-60px;
}

.movie ul{
    padding:0;
    list-style: none;
}

.movie p{
    overflow: scroll;
    height: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin:20px
}